beautifulsoup4
celery
celery[msgpack]
fastapi
fasttext
feedparser
flower
grpcio
grpcio-tools
jaxtyping
msgpack
numpy
optimum[exporters]
optimum[onnxruntime]
pydantic
pypdf
redis
rich
selectolax
selenium
sentence_transformers
toml
transformers
ulid-py
uvicorn[standard]