accelerate
cchardet
celery
deepdiff
fastapi
fasttext
feedparser
flower
gprof2dot
grpcio
grpcio-tools
jupyterlab
more-itertools
msgpack
mypy
numpy
optimum[onnxruntime]
pika
pydantic
pyinstrument
pypdf
pytest
redis
rich
selectolax
selenium
tabulate
toml
torch
transformers
ulid-py
uvicorn[standard]